html, body {
    font-size: 62.5%;
}
@media screen and (max-width:450px){
    html,body{font-size:50%;}
}
@media screen and (max-width:400px){
    html,body{font-size:30%;}
}
.content {
    margin: 13px 10px;
}
.container{
    width:100%;
    top:60px;
}
.main{
    width:400%;
    white-space: nowrap;
    animation: play1 10s ease-out infinite;
}
@keyframes play1 {
    0%,20% {margin-left: 0;}
    30%,50% {margin-left: -100%;}
    60%,80% {margin-left: -200%;}
    90%,100% {margin-left: -300%;}
}
@keyframes play2 {
    0%,20% {margin-left: -100%;}
    30%,50% {margin-left: -200%;}
    60%,80% {margin-left: -300%;}
    90%,100% {margin-left: 0;}
}
@keyframes play3 {
    0%,20% {margin-left: -200%;}
    30%,50% {margin-left: -300%;}
    60%,80% {margin-left: 0;}
    90%,100% {margin-left: -100%;}
}
@keyframes play4 {
    0%,20% {margin-left: -300%;}
    30%,50% {margin-left: 0;}
    60%,80% {margin-left: -100%;}
    90%,100% {margin-left: -200%;}
}
.main-box {
    width:25%;
    background-color: #f0f0f0;
    padding: 20px 30px 40px 30px;
    margin: 0;
    float: left;
}
.history {
    width: 100%;
    height: 80px;
    padding: 0 10px;
    margin: 0;
    background-color: #ffffff;
}

.empty {
    width: 24px;
    height: 40px;
}

.history a{
    font-size: 2.5rem;;
    color: #9a9a9a;
    margin: 0;
    text-decoration:none;
}
@media screen and (max-width:400px){
    .history span{font-size:3rem;}
}

.game-info {
    width: 100%;
    margin-top: 20px;
    padding: 0;
    background-color: #ffffff;
}

.game-name {
    width: 100%;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #fde1ae;
}

.game-name span {
    font-size: 2.5rem;
    line-height: 60px;
    color: #fbb435;
}

.version-list {
    padding: 0 60px 60px 60px;
    flex-grow: 4;
}

.btn{
    height: 90px;
    margin-top: 16px;
    flex-grow: 1;
    font-size: 2.5rem;
    border-radius: 5px;
    color: white;
    background-color: #29bde0;
}

.version-list span {
    padding-top: 16px;
    margin: 0 auto;
    flex-grow: 1;
    font-size: 2rem;
    color: #9a9a9a;
}

.triangle {
    width: 40px;
    margin: 0;
    top: 35rem;
    right: 4rem;
}
@media screen and (max-width:450px){
    .triangle{position: absolute;
        top: 36rem;
        right: 4rem;}
}
@media screen and (max-width:400px){
    .triangle{position: absolute;
        top: 26rem;
        right: 1rem;}
}
.div-label{
    bottom: 60px;
    left: 47.5%;
}
input{
    display: none;
}
#slider1:checked~#slider{
    -webkit-animation-name:play1;
}
#slider2:checked~#slider{
    -webkit-animation-name:play2;
}
#slider3:checked~#slider{
    -webkit-animation-name:play3;
}
#slider4:checked~#slider{
    -webkit-animation-name:play4;
}
label{
    width:10px;
    height:10px;
    border-radius: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
}
#slider1:checked ~ .div-label .label1,
#slider2:checked ~ .div-label .label2,
#slider3:checked ~ .div-label .label3,
#slider4:checked ~ .div-label>.label4{
    background-color: #29bde0;
}
#slider1:active~#slider{
    -webkit-animation-name:none;
    margin-left: 0;
}
#slider2:active~#slider{
    -webkit-animation-name:none;
    margin-left: -100%;
}
#slider3:active~#slider{
    -webkit-animation-name:none;
    margin-left: -200%;
}
#slider4:active~#slider{
    -webkit-animation-name:none;
    margin-left: -300%;
}

