html,body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    clear:both;
}

/*页眉*/
header{
    width:100%;
    height:40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10%;
    background-color: #1d7ad9;
}
header span{
    color:white;
}
.header-link a{
    display: inline-block;
    height:40px;
    padding: 0 15px;
    line-height: 40px;
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 400px){
    .header-link a{
        padding: 0 5px;
    }
}
.header-link a:hover{
    color: black;
    background-color: white;
}

/*主体内容*/

/*按钮区*/
.btns-div{
    width: 100%;
    height:100px;
    padding:0 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e1dfdf;
}
.btns-div button{
    margin-left: 30px;
}

/*步骤介绍*/
.carton-steps{
    width: 100%;
    height:100px;
    padding:0 10%;
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.carton-steps div{
    width: 116px;
    display: inline-block;
    overflow: hidden;
}
.orange-line1,.orange-line2{
    width: 50px;
    height: 30px;
    margin-top: -20px;
    display: inline-block;
    border-bottom: 5px solid #cccccc;
}
.orange-line1{
    margin-right: -2px;
}
.orange-line2{
    margin-left: -2px;
}
span.step-icon{
    display: inline-block;
    width:20px;
    height: 20px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #cccccc;
    text-align: center;
}
.carton-step{
    width: 116px;
    margin-top: 15px;
    display: inline-block;
    text-align: center;
    color: #cccccc;
}
.carton-steps div:hover .orange-line1{
    border-bottom: 5px solid #ff7f02;
}
.carton-steps div:hover .orange-line2{
    border-bottom: 5px solid #ff7f02;
}
.carton-steps div:hover .step-icon{
    background-color: #ff7f02;
}
.carton-steps div:hover .carton-step{
    color: #ff7f02;
}

/*表单区*/
.form-div{
    width: 100%;
    padding: 0 10% 50px 10%;

}
.form-div-title{
    display: block;
    font-size: 20px;
    border-left: 3px solid #1d7ad9;
    padding-left: 5px;
    margin-bottom: 10px;
}
@media screen and (max-width: 400px){
    .form-div-title{
        font-size: 16px;
    }
}

/*选择箱型*/
.carton-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    color:#1d7ad9;
    background-color: #eae8e8;
}
.carton-title span{
    margin-left: 5px;
}
.type-select{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #a1a1a3;
    background-color: #eff0ff;
    position: relative;
}

input[type='radio'].type-input:checked{
    width:13px;
    height: 13px;
    display: inline-block;
    border-radius: 13px;
    -webkit-appearance:none;
    background: url("images10/radio.png") no-repeat scroll right center transparent;
    background-size: cover;
    outline: 13px;
}
.select-input-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.select-input-wrapper>div{
    display: inline-block;
    height: 28px;
    margin: 10px 0;
}
.input-name{
    display: inline-block;
    margin: 0 15px;
}
.detail-select{
    flex-shrink: 0;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("images10/caret.png") no-repeat scroll right center transparent;
    padding-right: 30px;
}

/*确定尺寸*/
.ruler-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.ruler-div-in{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
@media screen and (max-width: 400px){
    .ruler-div-in{
        flex-direction: column;
    }
}
.input-wrapper{
    margin: 10px 0;
    flex-shrink:0;
}
.ruler-wrapper-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.ruler-wrapper{
    margin: 10px 10px 10px 0;
}
.ruler-input{
    margin:0 5px;
}
.material-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.material-wrapper>span{
    display: flex;
    margin: 10px 0;
}
.submit-input{
    width:150px;
    height: 50px;
    font-size: 25px;
    color: white;
    background-color: red;
    border-radius: 3px;
    border:none;
}
.submit-input-wrapper{
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-wrapper{
    padding: 30px 10%;
    background-color: #e1dfdf;
}
.info-wrapper span{
    color:#999999;
}
.info-wrapper-title{
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
}
.addition-info{
    width: 240px;
    display: inline-block;
}
.addition-info span{
    display: inline-block;
    line-height: 30px;
    margin-right: 20px;
    margin-bottom: 15px;
}
.addition-info span:first-child{
    color: #1d7ad9;
}
.contact-wrapper{
    vertical-align: top;
}
.contact{
    display: inline-block;
    margin-right: 15px;
    float: right;
}
@media screen and (max-width: 992px){
    .contact{
        float: left;
    }
}
.contact span{
    display: block;
    line-height: 30px;
}
.wechat-public-51{
    display: inline-block;
    float: right;
}

@media screen and (max-width: 992px){
    .wechat-public-51{
        float: none;
        vertical-align: top;
    }
}