/*定制*/
/*样式*/
html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #eff0f4;
}
.panel {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: #68cdd5;
  text-align: center;
  overflow: hidden;
}
.panel-left,
.panel-right {
  width: auto;
  height: 50px;
  color: white;
  line-height: 50px;
  margin: 0 15px;
}
.panel-left {
  float: left;
}
.panel-left:hover,
.panel-right:hover {
  cursor: pointer;
}
.panel-right {
  float: right;
}
.panel-mid {
  width: auto;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  margin: 0;
}
.form {
  width: 100%;
  height: 140px;
}
.div1,
.div2 {
  width: 100%;
  height: 60px;
  background-color: white;
  line-height: 60px;
  margin: 10px 0;
}
.wrapper-iphone,
.wrapper-locked {
  width: 60px;
  height: 60px;
  padding: 0 10px;
  text-align: center;
  float: left;
}
.wrapper-line {
  width: 10px;
  height: 60px;
  padding: 0 4px;
  text-align: center;
  float: left;
}
.wrapper-num,
.wrapper-pw {
  width: 180px;
  height: 60px;
  padding: 0 10px;
  text-align: center;
  float: left;
}
.iphone,
.ver,
.locked {
  vertical-align: middle;
}
.text {
  width: 150px;
  height: 40px;
  vertical-align: middle;
  border: none;
  outline: none;
}
.button {
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: #68cdd5;
  border: none;
}
.problem {
  margin: 10px 15px;
  color: #68cdd5;
  float: right;
}
.problem:hover {
  cursor: pointer;
}
