html,body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    clear:both;
}

/*页眉*/
header{
    width:100%;
    height:40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10%;
}
@media screen and (max-width: 500px){
    header{
        padding: 0 15px;
    }
}
header span:first-child{
    color:#69c199;
}
header div{
    width:117px;
    height:28px;
    background: url(images8/sprites8.png) no-repeat;
}
.we-chat{
    background-position: 0 0;
}
.qq{
    background-position: -44px 0;
}
.sina{
    background-position: -88px 0;
}

/*主体*/
.main{
    width:100%;
    background-color: #e3e0e0;
}
/*导航栏*/

.screen-nav {
    background-color: #29b078;
    margin: 0;
    padding: 0 10%;
}
@media screen and (max-width: 768px){
    .screen-nav{
        padding: 0;
    }
}
.screen-nav .container-fluid{
    padding: 0;
}
.screen-nav>.container-fluid>.navbar-header{
    margin: 0;
}
.nav-ul{
    float: right;
    margin: 0;
}
@media screen and (max-width: 767px){
    .nav-ul{
        float: none;
        text-align: center;
    }
}
.nav-img{
    margin-top: 3px;
    margin-left: 0;
}
@media screen and (max-width: 768px){
    .nav-img{
        margin-left: 10%;
    }
}
@media screen and (max-width: 500px){
    .nav-img{
        margin-left: 15px;
    }
}
.nav-ul li a{
    height: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white !important;
    background-color: #29b078 !important;
    box-sizing: border-box;
}
.nav-ul li:hover a{
    border-bottom: 3px solid white;
}
.nav-btn{
    margin:18px 0;
    float: right;
}
@media screen and (max-width: 768px){
    .nav-btn{
        margin-right: 10%;
    }
}
@media screen and (max-width: 500px){
    .nav-btn{
        margin-right: 15px;
    }
}


/*首页*/
.head-main{
    width:100%;
    background-color: #fafafa;
}
/*轮播图*/
.head-carousel>.carousel-inner>div{
    width:100%;
    padding:15%;
    background: url(images8/head-background.png) no-repeat;
    background-size: cover;
}
@media screen and (max-width: 500px){
    .head-carousel>ol{
        bottom:0;
    }
}


/*三大优点以及人数统计*/
.container{
    width:100%;
    padding: 0;
}
.advantage{
    text-align: left;
    line-height: 25px;
}
.row-fit{
    padding: 30px 10%;
}
@media screen and (max-width:992px){
    .advantage{
        text-align: center;
        padding: 40px 0;
    }
}
.adv-wrapper{
    text-align: center;
}
.adv-wrapper>span{
    display:block;
    margin: 20px auto;
    font-size: 20px;
}
.adv-wrapper+span{
    color:#999999;
}
.counting{
    border-left:1px solid #dedede;
}

@media screen and (max-width:992px){
    .counting{
        border: none;
        text-align: center;
    }
}
.learning,.job-find{
    margin:20px auto;
    line-height: 30px;
}
.count span{
    color:#69c199;
    margin-left: 10px;
}
.count+span{
    color:#999999;
}

/*如何学习*/
.steps{
    padding:20px 0;
}
.steps-title{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.steps{
    height:80px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.wrapper{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: nowrap;
    text-align: left;
}
.circle{
    width:50px;
    height:50px;
    background-image: url(images8/process-icon.png);
    background-size: cover;
    text-align: center;
    line-height: 50px;
    color:#29b078;
    flex-shrink: 0;
    margin:0 10px;
}
@media screen  and (min-width:420px)  and (max-width:992px){
    .circle{
        width: 75px;
        height:75px;
        font-size: 20px;
        line-height: 75px;
    }
}
.circle+span{
    color:#cacaca;
}
@media screen and (min-width:420px)  and (max-width:768px){
    .circle+span{
        font-size: 20px;
    }
}
.wrapper+span{
    display:block;
    flex-shrink:0;
    margin-left: 20px;
}

/*优秀学员展示*/
.head-inner-carousel{
    padding:0 0 80px 0;
}
.head-inner-carousel .row{
    padding:0;
}
.head-inner-carousel>.carousel-indicators li{
    background-color: white;
}
.head-inner-carousel>.carousel-indicators li.active {
    background-color: #26a26f;
}
.show-title{
    padding: 20px 0;
    font-size: 20px;
    margin-bottom:30px;
    text-align: center;
}
.person-show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding:20px;
    margin:20px 0;
    text-align: left;
}
.person-show img{
    display: block;
    flex-shrink: 0;
}
.job-name{
    display: block;
    font-size: 20px;
    margin:15px 0;
}
.job-name+span{
    color:#bfbfbf;
    line-height: 20px;
}

/*战略合作企业*/

.co-company{
    width:100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: white;
}

.img-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height:150px;
    background-color: white;
    flex:1;
    padding: 0 20px;
}
.img-wrapper:hover{
    box-shadow: 2px 2px 2px #edecec,0 0 4px #edecec,0 0 4px #edecec;
    z-index: 1;
}

/*友情链接*/

.link-to{
    width:100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.ul-div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex:0;
    flex-wrap: wrap;
}
.mobile-software,.recruit,.find-job{
    width:130px;
    height:60px;
    margin-left: -10px;
    display: block;
    list-style-type: disc;
}
.ul-div>ul li{
    line-height: 30px;
}


/*职业内容*/
.job-main{
    padding: 0 10% 300px 10%;
    background-color: #fafafa;
    margin:0;
}

@media screen and (max-width:500px){
    .job-main{
        padding: 0 15px 300px 15px;
    }
}
    .job-title{
    padding: 30px 0;
    color:#26a26f;
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid #d4cfcf;
}
.job-classify{
    padding:0;
}
.job-classify ul{
    width: 100%;
    display: inline-block;
    float: left;
    padding: 10px 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
    line-height: 40px;
    border-bottom: 1px solid #26a26f;
}
.job-classify li{
    float:left;
    margin-right:20px;
}
.job-classify li>span{
    color:#a1a1a1;
}
.job-classify li a{
    color:black;
    text-decoration: none;
}
.job-classify li a:hover{
    background-color: #26a26f;
}
.wrapper-inner-title{
    text-align: left;
    border-bottom: 1px solid #d4cfcf;
    margin-bottom: 30px;
    padding: 30px 0;
}
.portrait-wrapper{
    display: inline-block;
    float:left;
    width:36%;
    padding-top:36%;
    margin-right: 5px;
    background: url(images8/job-portrait.png) no-repeat;
    background-size: cover;
}
@media screen and (max-width: 992px){
    .portrait-wrapper{
        width:20%;
        padding-top:20%;
    }
}
@media screen and (max-width: 650px){
    .portrait-wrapper{
        width:100px;
        padding-top:100px;
    }
}
.job-intro-div{
    padding: 0;
}
.job-intro{
    position: relative;
    background-color: white;
    border:1px solid #d4cfcf;
    overflow: hidden;
    margin: 20px 0;
}
.job-detail{
    padding: 10px;
    text-align: left;
    border-left:none;
}
.border-l{
    border-left:1px solid #d4cfcf;
}
.half-row{
    padding: 10px 10px;
    text-align: left;
    border-top:1px solid #d4cfcf;
}
.red-star,.em-red{
    margin-left: 10px;
}
.em-red,.em-red-last{
    color:red;
}
.inner-title{
    font-size: 20px;
}
.job-detail-title{
    display: inline-block;
    margin:5px 0 10px 0;
    font-size: 20px;
}
.job-detail>p{
    padding-top: 5px;
    display: block;
    line-height: 25px;
}
.border-t{
    border-top:1px solid #d4cfcf;
}
.border-b{
    border-bottom:1px solid #d4cfcf;
}
.salary-intro{
    padding: 0;
}
.salary-intro-title{
    text-align: center;
    padding: 10px 10px;
    border:none;
}
.salary{
    float: right;
    padding: 10px 10px;
    text-align: right;
    border-left:1px solid #d4cfcf;
}
@media screen and (max-width: 350px){
    .salary{
        padding: 10px 0;
    }
}
.salary span:first-child{
    float:left;
}
.study-num{
    padding: 10px 10px;
    text-align: left;
    font-size: 20px;
}
.study-tip{
    padding: 10px 10px;
    text-align: left;
    border-top:1px solid #d4cfcf;
}

/*动画显示*/
.cartoon{
    display: inline-block;
    width: 100%;
    height:100%;
    padding : 20px 40px;
    position: absolute;
    top: 0;
    left: 0;
    color:white;
    background: rgba(20, 20, 20, 0.6);
    border:1px solid black;
    visibility: hidden;
}
@keyframes myfirst{
    0%   {background: rgba(20, 20, 20, 0);}
    25%  {background: rgba(20, 20, 20, 0.2);}
    50%  {background: rgba(20, 20, 20, 0.4);}
    100% {background: rgba(20, 20, 20, 0.6);}

}
.job-intro:hover .cartoon{
    animation: myfirst 4s;
    visibility: visible;
}
.cartoon-title{
    display: inline-block;
    font-size: 20px;
    margin:20px 0;
}
.cartoon p{
    text-align: left;
    text-indent: 2em;
    line-height: 25px;
}

/*推荐内容*/

.recommend{
    width:100%;
    padding:10%;
    background: url(images8/recommend.png) no-repeat;
    background-size: cover;
}
.rec-intro{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin:0 20px;
}
.rec-intro span{
    color:white;
}
.span-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:0 20px;
}
.span-wrapper>span:first-child{
    font-size: 30px;
}
.em{
    font-size: 50px;
}

/*合作企业*/
.intro-main{
    padding: 0 10%;
    background-color: #fafafa;
}
.intro-title{
    font-size: 20px;
    text-align: left;
    width:100%;
    padding:20px 0;
}
.em-color{
    color:#72c49e;
}
.div-left{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    text-align: center;
    margin-bottom: 40px;
}
.intro-title-in {
    padding: 10px;
    border-bottom: 1px solid #cfcece;
    font-size: 20px;
}
.intro-list{
    display: inline-block;
    width:92px;
    margin: 20px auto;
    text-align: left;
    line-height: 25px;
}
.intro-list a{
    display: block;
    color:#29b078;
    text-decoration: none;
}
.intro-list a:hover{
    color:#ff650e;
    text-decoration: none;
}
.intro-list a:hover .mini-cir{
    background-color:#f4803d;
}
.mini-cir{
    display: inline-block;
    width:10px;
    height:10px;
    border:1px solid #ff640c;
    border-radius: 10px;
    margin-right: 10px;
}
.div-right{
    display: inline-block;
    background-color: white;
    padding: 10px 20px;
    margin: 0 0 100px 0;
}
.div-right img{
    display: inline-block;
    float:left;
    margin:0 15px 15px 0;
}
.div-right p{
    text-align: left;
    text-indent: 2em;
    line-height: 25px;
}

/*网站信息*/

.information{
    background-color: #26a26f;
}
.grid-in{
    padding: 0;
}
.information table span{
    color:white;
}

table caption{
    padding:0 0 20px 10px;
    color: white;
    font-size: 20px;
}
@media screen and (max-width: 767px){
    .child-website caption{
        margin-top: 30px;
    }
}
.jnshu td{
    padding: 0 10px;
    border-left: 1px solid white;
}
.jnshu td a:hover{
    text-decoration: none;
}
.jnshu td:first-child{
     border:none;
 }
.child-website td{
    padding:0 10px 10px 10px;
}
.wechat-platform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    float: right;
}
@media screen and (max-width: 767px){
    .wechat-platform{
        float: left;
        margin-left: 10px;
    }
}
.wechat-platform>span:first-child{
    font-size: 20px;
    color:white;
    margin-bottom:20px;
}
@media screen and (max-width: 767px){
    .wechat-platform>span:first-child{
        margin-top: 30px;
    }
}
.wechat-public{
    display: inline-block;
    width: 120px;
    height: 120px;
    background-image: url("images8/wechat-public.png");
    background-size: cover;
}


/*页脚*/

footer{
    width:100%;
    padding:10px;
    background-color: #26a26f;
    text-align: center;
    border-top: 1px solid #32c086;
}

.legal{
    display: block;
    width:100%;
    color:white;

}