html,body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

/*页眉*/
header{
    width:100%;
    height:40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 80px;
}
header span:first-child{
    color:#69c199;
}
header div{
    width:117px;
    height:28px;
    background: url(images8/sprites8.png) no-repeat;
}
.we-chat{
    background-position: 0 0;
}
.qq{
    background-position: -44px 0;
}
.sina{
    background-position: -88px 0;
}

/*主体*/
.main{
    width:100%;
}
/*导航栏*/
.main>ul{
    margin:0;
    padding: 0 15%;
    background-color:#29b078 ;
}
.main>ul li:first-child{
    float:left;
}
.nav-img{
    display: inline-block;
    margin:10px 0;
}
.main>ul li{
    float:right;
}
.main>ul li:hover a{
    background-color: #29b078 ;
    border-bottom: 3px solid white;
}
.main>ul li a{
    line-height: 64px;
    color:white;
    background-color: #29b078 ;
    border: none;
    margin: 0;
}
.main div.tab-content{
    width:100%;
}
/*首页*/
.head-main{
    width:100%;
    background-color: #fafafa;
}
/*轮播图*/
#carousel-example-generic>.carousel-inner>div{
    width:100%;
    height:300px;
    background-image: url(images8/head-background.png);
}
.question{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height:300px;
    margin:0 15%;
}
.question span:first-child{
    color:white;
    font-size: 30px;
}
.question p.em span {
    color:white;
    font-size: 60px;
    margin-right: 5px;
    margin-top: 0;
}
.em{
    color:white;
    font-size: 45px;
}

/*三大优点以及人数统计*/
.container{
    width:100%;
    padding: 0;
}
.row{
    width:100%;
    margin: 0;
    padding: 40px 80px;
}
.col-xs-3{
    text-align: left;
}
.in{
    text-align: center;
}
.in>span{
    display:block;
    margin: 10px auto;
    font-size: 20px;
}
.in+span{
    color:#999999;
}
.counting{
    border-left:1px solid #dedede;
}
.learning,.job-find{
    margin:20px auto;
}
.count span{
    color:#69c199;
    margin-left: 10px;
}
.count+span{
    color:#999999;
}

/*如何学习*/
.col-xs-12{
    padding:20px 0;
}
.col-xs-12>span{
    font-size: 20px;
}
.learning-steps .col-xs-3{
    height:80px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.wrapper{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
.circle{
    width:50px;
    height:50px;
    background-image: url(images8/process-icon.png);
    background-size: cover;
    text-align: center;
    line-height: 50px;
    color:#29b078;
    flex-shrink: 0;
    margin-right: 10px;
}
.circle+span{
    color:#cacaca;
}
.wrapper+span{
    display:block;
    flex-shrink:0;
    margin-left: 20px;
}

/*优秀学员展示*/
.col-xs-12.carousel.slide{
    padding-bottom: 80px;
}
.col-xs-12.carousel.slide .row{
    padding:0;
}
.col-xs-12.carousel.slide>.carousel-indicators li{
    background-color: white;
    z-index: 1;
}
.col-xs-12.carousel.slide>.carousel-indicators li.active {
    background-color: #29bde0;
}
.person-show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.person-show img{
    display: block;
    flex-shrink: 0;
}
.job-name{
    display: block;
    font-size: 20px;
}
.job-name+span{
    color:#bfbfbf;
}

/*战略合作企业*/

.co-company{
    width:100%;
    height:150px;
    display: flex;
    justify-content: space-between;
}
.img-wrapper{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:20%;
    height:150px;
    background-color: white;
}
.img-wrapper:hover{
    box-shadow: 2px 2px 2px #edecec,0 0 4px #edecec,0 0 4px #edecec;
    z-index: 1;
}

/*友情链接*/

.link-to{
    width:100%;
    margin:0 auto;
}
.mobile-software,.recruit,.find-job{
    list-style-type: disc;
}


/*职业内容*/
.job-main{
    width:100%;
}
.job-title{
    padding: 30px 15%;
    color:#26a26f;
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid #d4cfcf;
}
.job-classify{
    display: inline-block;
    padding: 20px 15%;
    margin: 0;
    list-style-type: none;
    text-align: left;
    float: left;
    border-bottom: 1px solid #26a26f;
}
.job-classify li{
    display: inline-block;
    float:left;
}
.job-classify li>span{
    color:#a1a1a1;
}
.job-classify li a{
    display: inline-block;
    color:black;
    margin:0 20px;
    text-decoration: none;
}
.job-classify li a:hover{
    background-color: #26a26f;
}



/*网站信息*/

.information{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:20px 80px 20px 80px;
    background-color: #26a26f;
}
.information table span{
    color:white;
}
table caption{
    margin-left: 10px;
    padding-bottom: 30px;
    color: white;
    font-size: 20px;
}
.jnshu td{
    padding: 0 10px;
    border-left: 1px solid white;
}
.jnshu td:first-child{
     border:none;
 }
.child-website td{
    padding:0 10px 10px 10px;
}
.wechat-platform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.wechat-platform>span{
    font-size: 20px;
    color:white;
}
.wechat-public{
    display: inline-block;
    width: 120px;
    height: 120px;
    background-image: url("images8/wechat-public.png");
    background-size: cover;
}

/*页脚*/

footer{
    width:100%;
    padding:10px 80px;
    background-color: #26a26f;
    text-align: center;
    border-top: 1px solid #32c086;
}

.legal{
    display: block;
    width:100%;
    color:white;

}